/* *{
    background-color: lightgray; 
    margin: 0px;
    padding: 0px;
}
.card {
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    
}
.home-main-div
{
    margin: 2% 5%;
}
.home-header{
    text-align: center;
    font-weight: bolder;
    background-color: white;
    color: black;
    padding-bottom: 10px;
}
.home-brand{
    padding: 10px;
    float: left;
}
.home-link{
    padding: 10px;
    float:right;
} */

/* Admin Login Form Styles*/
/* .admin-main-div{
    width: 40rem;
    margin: 12% 12rem;
    padding: 30px;
    border: solid slategray 1px;
    box-sizing: content-box;
}
.admin-title{
    text-align: center;
}
.admin-submit-button{
    margin-left: 40%;
} */

/* .restaurant-details-div{
    color:white
} */